In [ ]:
SELECT * FROM information_schema.columns WHERE table_schema = 'skillbox1'

## 1:

1. Написать запрос для выбора студентов в порядке их регистрации на сервисе.

In [ ]:
SELECT `name` FROM `Students` ORDER BY `Students`.`registration_date` ASC

2. Написать запрос для выбора 5 самых дорогих курсов, на которых более 4 студентов, и которые длятся более 10 часов.

In [ ]:
SELECT * FROM `Courses` WHERE `Courses`.`students_count` > 4 AND `Courses`.`duration` > 10 ORDER BY `Courses`.`price` DESC LIMIT 5

3. Написать один (!) запрос, который выведет одновременно список из имен трёх самых молодых студентов, имен трёх самых старых учителей и названий трёх самых продолжительных курсов.

In [ ]:
(SELECT `name` FROM `Students` ORDER BY `age` ASC LIMIT 0, 3) UNION (SELECT `name` FROM `Teachers` ORDER BY `age` DESC LIMIT 0, 3) UNION (SELECT `name` FROM `Courses` ORDER BY `duration` DESC LIMIT 0, 3)

## 2:

1. Написать запрос для выбора среднего возраста всех учителей с зарплатой более 10 000.

In [ ]:
SELECT AVG(`age`) FROM `Teachers` WHERE `salary` > 10000

2. Написать запрос для расчета суммы, сколько будет стоить купить все курсы по дизайну.

In [ ]:
SELECT SUM(`price`) FROM `Courses` WHERE `type` = "DESIGN"

3. Написать запрос для расчёта, сколько минут (!) длятся все курсы по программированию.

In [ ]:
SELECT SUM(`duration` * 60) FROM `Courses` WHERE `type` = "PROGRAMMING"

## 3:

1. Напишите запрос, который выводит сумму, сколько часов должен в итоге проучиться каждый студент (сумма длительности всех курсов на которые он подписан).

В результате запрос возвращает две колонки: Имя Студента — Кол-во часов.

In [ ]:
SELECT `Students`.`name` as `Students_name`, SUM(`Courses`.`duration`) as `SUM_courses_duration` FROM `Students`
JOIN `Subscriptions` ON `Students`.`id` = `Subscriptions`.`student_id`
JOIN `Courses` ON `Courses`.`id` = `Subscriptions`.`course_id`
GROUP BY `Students`.`name`
ORDER BY `SUM_courses_duration` DESC

2. Напишите запрос, который посчитает для каждого учителя средний возраст его учеников.

В результате запрос возвращает две колонки: Имя Учителя — Средний Возраст Учеников.

In [ ]:
SELECT `Teachers`.`name` as `Teachers_name`, AVG(`Students`.`age`) as `AVG_students_age` FROM `Teachers`
JOIN `Courses` ON `Teachers`.`id` = `Courses`.`teacher_id`
JOIN `Subscriptions` ON `Courses`.`id` = `Subscriptions`.`course_id`
JOIN `Students` ON `Students`.`id` = `Subscriptions`.`student_id`
GROUP BY `Teachers`.`name`
ORDER BY `AVG_students_age` DESC

3. Напишите запрос, который выводит среднюю зарплату учителей для каждого типа курса (Дизайн/Программирование/Маркетинг и т.д.).

В результате запрос возвращает две колонки: Тип Курса — Средняя зарплата.

In [ ]:
SELECT `Courses`.`type` as `Courses_type`, AVG(`Teachers`.`salary`) as `AVG_teachers_salary` FROM `Teachers`
JOIN `Courses` ON `Teachers`.`id` = `Courses`.`teacher_id`
GROUP BY `Courses`.`type`
ORDER BY `AVG_teachers_salary` DESC